<!-- Start Header -->
<header id="header">
  <div class="header_top" data-height="40">
    <div class="header_top_outer">
      <div class="header_top_inner">
        <div class="header_top_right">
          <div class="social_wrap">
            <div class="social_wrap_inner">
              <ul>
                <li>
                  <a [routerLink]="['/']"
                    class="cmsmasters_social_icon cmsmasters_social_icon_1 cmsmasters-icon-facebook-1" title="Facebook"
                    target="_blank"></a>
                </li>
                <!-- <li>
                  <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_2 cmsmasters-icon-gplus-1"
                    title="Google+" target="_blank"></a>
                </li> -->
                <li>
                  <a [routerLink]="['/']"
                    class="cmsmasters_social_icon cmsmasters_social_icon_3 cmsmasters-icon-instagram" title="Instagram"
                    target="_blank"></a>
                </li>
                <li>
                  <a [routerLink]="['/']"
                    class="cmsmasters_social_icon cmsmasters_social_icon_4 cmsmasters-icon-twitter" title="Twitter"
                    target="_blank"></a>
                </li>
                <li>
                  <a [routerLink]="['/']"
                    class="cmsmasters_social_icon cmsmasters_social_icon_5 cmsmasters-icon-youtube-play" title="YouTube"
                    target="_blank"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header_top_left">
          <div class="top_nav_wrap"><a class="responsive_top_nav" href="javascript:void(0)"><span></span></a>
            <nav>
              <div class="menu-top-line-navigation-container">
                <ul id="top_line_nav" class="top_line_nav" style="display: none">
                  <li id="menu-item-14220"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14220"><a
                      href="https://schule.cmsmasters.net/admission/"><span class="nav_item_wrap">Employment</span></a>
                  </li>
                  <li id="menu-item-14221"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14221"><a
                      href="https://schule.cmsmasters.net/academics/"><span class="nav_item_wrap">Staff
                        Directory</span></a></li>
                  <li id="menu-item-14222"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14222"><a
                      href="https://schule.cmsmasters.net/events/list/"><span class="nav_item_wrap">Events</span></a>
                  </li>
                  <li id="menu-item-14223"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14223"><a
                      href="https://schule.cmsmasters.net/blog-shortcode/"><span class="nav_item_wrap">News</span></a>
                  </li>
                  <li id="menu-item-14224"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14224"><a
                      href="https://schule.cmsmasters.net/contact-forms/"><span class="nav_item_wrap">Contact</span></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="header_top_but closed"><span class="cmsmasters_theme_icon_slide_bottom"></span></div>
  </div>
  <div class="header_mid" data-height="110">
    <div class="header_mid_outer">
      <div class="header_mid_inner">
        <div class="logo_wrap"><a [routerLink]="['/']" title="At-Seba" class="logo">
            <img src="https://schule.cmsmasters.net/wp-content/themes/schule/theme-framework/theme-style/img/logo.png"
              alt="At-Seba" />
            <img class="logo_retina"
              src="https://schule.cmsmasters.net/wp-content/themes/schule/theme-framework/theme-style/img/logo_retina.png"
              alt="At-Seba" width="167" height="50" />
          </a>
        </div>
        <div class="header_donation_but_wrap" style="display:none">
          <div class="header_donation_but_wrap_inner">
            <div class="header_donation_but"><a href="https://schule.cmsmasters.net/donate-confirmation/"
                class="cmsmasters_button"><span>Donate
                  Now!</span></a></div>
          </div>
        </div>
        <div class="resp_mid_nav_wrap">
          <div class="resp_mid_nav_outer"><a class="responsive_nav resp_mid_nav"
              href="javascript:void(0)"><span></span></a></div>
        </div><!-- Start Navigation -->
        <div class="mid_nav_wrap">
          <nav>
            <div class="menu-primary-navigation-container">
              <ul id="navigation" class="mid_nav navigation">

                <li id="menu-item-12979"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12979 menu-item-depth-0">
                  <a [routerLink]="['/about']"><span class="nav_item_wrap"><span class="nav_title">
                        About Us</span></span></a>
                </li>
                <li id="menu-item-13035"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7366 current_page_item menu-item-13035 menu-item-depth-0">
                  <a href="#"><span class="nav_item_wrap"><span class="nav_title">Vision &
                        mission
                      </span></span></a>
                  <ul class="sub-menu" style="display:none">
                    <li id="menu-item-13028"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13028 menu-item-depth-1">
                      <a [routerLink]="['/our','mission']"><span class="nav_item_wrap"><span class="nav_title">Our
                            mission</span></span></a> </li>
                    <li id="menu-item-13882"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13882 menu-item-depth-1">
                      <a [routerLink]="['/our','vision']"><span class="nav_item_wrap"><span class="nav_title">Our
                            vision</span></span></a>
                    </li>
                    <li id="menu-item-14407"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14407 menu-item-depth-1">
                      <a [routerLink]="['/our','values']"><span class="nav_item_wrap"><span class="nav_title">Our
                            values</span></span></a>
                    </li>
                  </ul>
                </li>
                <li class="cmsmasters_mov_bar"><span></span></li>
              </ul>
            </div>
          </nav>
        </div><!-- Finish Navigation -->
      </div>
    </div>
  </div>
</header>
<!-- Finish Header -->