<!-- Start Page -->
<div id="page" class="csstransition cmsmasters_liquid fullwidth fixed_header enable_header_top cmsmasters_heading_under_header hfeed site">

  <!-- Start Main -->
  <div id="main">

    <!-- Start Header -->
    <header id="header">
      <div class="header_top" data-height="40">
        <div class="header_top_outer">
          <div class="header_top_inner">
            <div class="header_top_right">
              <div class="social_wrap">
                <div class="social_wrap_inner">
                  <ul>
                    <li>
                      <a href="../index.html?p=14404#" class="cmsmasters_social_icon cmsmasters_social_icon_1 cmsmasters-icon-facebook-1"
                        title="Facebook" target="_blank"></a>
                    </li>
                    <li>
                      <a href="../index.html?p=14404#" class="cmsmasters_social_icon cmsmasters_social_icon_2 cmsmasters-icon-gplus-1"
                        title="Google+" target="_blank"></a>
                    </li>
                    <li>
                      <a href="../index.html?p=14404#" class="cmsmasters_social_icon cmsmasters_social_icon_3 cmsmasters-icon-instagram"
                        title="Instagram" target="_blank"></a>
                    </li>
                    <li>
                      <a href="../index.html?p=14404#" class="cmsmasters_social_icon cmsmasters_social_icon_4 cmsmasters-icon-twitter"
                        title="Twitter" target="_blank"></a>
                    </li>
                    <li>
                      <a href="../index.html?p=14404#" class="cmsmasters_social_icon cmsmasters_social_icon_5 cmsmasters-icon-youtube-play"
                        title="YouTube" target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header_top_left">
              <div class="top_nav_wrap"><a class="responsive_top_nav" href="javascript:void(0)"><span></span></a>
                <nav>
                  <div class="menu-top-line-navigation-container">
                    <ul id="top_line_nav" class="top_line_nav">
                      <li id="menu-item-14220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14220"><a
                          href="../index.html?p=13724"><span class="nav_item_wrap">Employment</span></a></li>
                      <li id="menu-item-14221" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14221"><a
                          href="../index.html?p=13607"><span class="nav_item_wrap">Staff Directory</span></a></li>
                      <li id="menu-item-14222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14222"><a
                          href="../events/list/index.html"><span class="nav_item_wrap">Events</span></a></li>
                      <li id="menu-item-14223" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14223"><a
                          href="../blog-shortcode/page/1/index.html"><span class="nav_item_wrap">News</span></a></li>
                      <li id="menu-item-14224" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14224"><a
                          href="../index.html?p=163"><span class="nav_item_wrap">Contact</span></a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="header_top_but closed"><span class="cmsmasters_theme_icon_slide_bottom"></span></div>
      </div>
      <div class="header_mid" data-height="110">
        <div class="header_mid_outer">
          <div class="header_mid_inner">
            <div class="logo_wrap"><a href="../index.html" title="Schule" class="logo">
                <img src="https://schule.cmsmasters.net/wp-content/themes/schule/theme-framework/theme-style/img/logo.png"
                  alt="Schule" />
                <img class="logo_retina" src="https://schule.cmsmasters.net/wp-content/themes/schule/theme-framework/theme-style/img/logo_retina.png"
                  alt="Schule" width="167" height="50" />
              </a>
            </div>
            <div class="header_donation_but_wrap">
              <div class="header_donation_but_wrap_inner">
                <div class="header_donation_but"><a href="../index.html?p=11087" class="cmsmasters_button"><span>Donate
                      Now!</span></a></div>
              </div>
            </div>
            <div class="resp_mid_nav_wrap">
              <div class="resp_mid_nav_outer"><a class="responsive_nav resp_mid_nav" href="javascript:void(0)"><span></span></a></div>
            </div><!-- Start Navigation -->
            <div class="mid_nav_wrap">
              <nav>
                <div class="menu-primary-navigation-container">
                  <ul id="navigation" class="mid_nav navigation">
                    <li id="menu-item-13035" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-13035 menu-item-depth-0"><a
                        href="../index.html"><span class="nav_item_wrap"><span class="nav_title">Home</span></span></a></li>
                    <li id="menu-item-13881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13881 menu-item-depth-0"><a
                        href="../index.html?p=13607"><span class="nav_item_wrap"><span class="nav_title">Academics</span></span></a></li>
                    <li id="menu-item-12979" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-12979 menu-item-depth-0"><a><span
                          class="nav_item_wrap"><span class="nav_title">Features</span></span></a>
                      <ul class="sub-menu">
                        <li id="menu-item-13028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13028 menu-item-depth-1"><a
                            href="../index.html?p=529"><span class="nav_item_wrap"><span class="nav_title">About Us</span></span></a>
                        </li>
                        <li id="menu-item-13882" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13882 menu-item-depth-1"><a
                            href="../index.html?p=13724"><span class="nav_item_wrap"><span class="nav_title">Admission</span></span></a>
                        </li>
                        <li id="menu-item-14407" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-14407 menu-item-depth-1"><a
                            href="../index.html?p=14404"><span class="nav_item_wrap"><span class="nav_title">Courses</span></span></a>
                        </li>
                        <li id="menu-item-15067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15067 menu-item-depth-1"><a
                            href="../index.html?p=15052"><span class="nav_item_wrap"><span class="nav_title">Campaigns</span></span></a>
                        </li>
                        <li id="menu-item-12991" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12991 menu-item-depth-1"><a
                            href="../events/list/index.html"><span class="nav_item_wrap"><span class="nav_title">Events</span></span></a>
                        </li>
                        <li id="menu-item-14837" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14837 menu-item-depth-1"><a
                            href="../index.html?p=74"><span class="nav_item_wrap"><span class="nav_title">News</span></span></a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-item-12975" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12975 menu-item-mega menu-item-mega-cols-four menu-item-depth-0"><a><span
                          class="nav_item_wrap"><span class="nav_title">Shortcodes</span></span></a>
                      <div class="menu-item-mega-container">
                        <ul class="sub-menu">
                          <li id="menu-item-12986" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12986 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">1</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-14844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14844 menu-item-depth-subitem"><a
                                  href="../blog-shortcode/page/1/index.html"><span class="nav_item_wrap"><span class="nav_title">Blog
                                      Shortcode</span></span></a> </li>
                              <li id="menu-item-12996" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12996 menu-item-depth-subitem"><a
                                  href="../index.html?p=116"><span class="nav_item_wrap"><span class="nav_title">Buttons
                                      &#038; Icons</span></span></a> </li>
                              <li id="menu-item-12997" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12997 menu-item-depth-subitem"><a
                                  href="../index.html?p=151"><span class="nav_item_wrap"><span class="nav_title">Clients</span></span></a>
                              </li>
                              <li id="menu-item-12998" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12998 menu-item-depth-subitem"><a
                                  href="../index.html?p=163"><span class="nav_item_wrap"><span class="nav_title">Contact
                                      forms</span></span></a> </li>
                              <li id="menu-item-12999" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12999 menu-item-depth-subitem"><a
                                  href="../index.html?p=169"><span class="nav_item_wrap"><span class="nav_title">Counters
                                      &#038; Progress Bars</span></span></a> </li>
                              <li id="menu-item-13000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13000 menu-item-depth-subitem"><a
                                  href="../index.html?p=213"><span class="nav_item_wrap"><span class="nav_title">Custom
                                      HTML, CSS, JS</span></span></a> </li>
                              <li id="menu-item-13001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13001 menu-item-depth-subitem"><a
                                  href="../index.html?p=216"><span class="nav_item_wrap"><span class="nav_title">Dividers</span></span></a>
                              </li>
                            </ul>
                          </li>
                          <li id="menu-item-12976" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12976 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">2</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-13007" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13007 menu-item-depth-subitem"><a
                                  href="../index.html?p=231"><span class="nav_item_wrap"><span class="nav_title">Embedded</span></span></a>
                              </li>
                              <li id="menu-item-13008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13008 menu-item-depth-subitem"><a
                                  href="../index.html?p=252"><span class="nav_item_wrap"><span class="nav_title">Featured
                                      Blocks</span></span></a> </li>
                              <li id="menu-item-13006" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13006 menu-item-depth-subitem"><a
                                  href="../index.html?p=261"><span class="nav_item_wrap"><span class="nav_title">Gallery</span></span></a>
                              </li>
                              <li id="menu-item-13005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13005 menu-item-depth-subitem"><a
                                  href="../index.html?p=270"><span class="nav_item_wrap"><span class="nav_title">Google
                                      Maps</span></span></a> </li>
                              <li id="menu-item-13004" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13004 menu-item-depth-subitem"><a
                                  href="../index.html?p=289"><span class="nav_item_wrap"><span class="nav_title">Icon
                                      Boxes</span></span></a> </li>
                              <li id="menu-item-13003" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13003 menu-item-depth-subitem"><a
                                  href="../index.html?p=317"><span class="nav_item_wrap"><span class="nav_title">Icon
                                      Lists</span></span></a> </li>
                              <li id="menu-item-13002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13002 menu-item-depth-subitem"><a
                                  href="../index.html?p=358"><span class="nav_item_wrap"><span class="nav_title">Images</span></span></a>
                              </li>
                            </ul>
                          </li>
                          <li id="menu-item-12977" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12977 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">3</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-13009" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13009 menu-item-depth-subitem"><a
                                  href="../index.html?p=375"><span class="nav_item_wrap"><span class="nav_title">Notice
                                      Boxes</span></span></a> </li>
                              <li id="menu-item-13016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13016 menu-item-depth-subitem"><a
                                  href="../index.html?p=545"><span class="nav_item_wrap"><span class="nav_title">Portfolio
                                      Shortcode</span></span></a> </li>
                              <li id="menu-item-13010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13010 menu-item-depth-subitem"><a
                                  href="../index.html?p=391"><span class="nav_item_wrap"><span class="nav_title">Posts
                                      or Projects Slider</span></span></a> </li>
                              <li id="menu-item-13011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13011 menu-item-depth-subitem"><a
                                  href="../index.html?p=401"><span class="nav_item_wrap"><span class="nav_title">Pricing
                                      Tables</span></span></a> </li>
                              <li id="menu-item-13012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13012 menu-item-depth-subitem"><a
                                  href="../index.html?p=405"><span class="nav_item_wrap"><span class="nav_title">Profiles</span></span></a>
                              </li>
                              <li id="menu-item-13014" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13014 menu-item-depth-subitem"><a
                                  href="../index.html?p=426"><span class="nav_item_wrap"><span class="nav_title">Quotes</span></span></a>
                              </li>
                              <li id="menu-item-13015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13015 menu-item-depth-subitem"><a
                                  href="../index.html?p=430"><span class="nav_item_wrap"><span class="nav_title">Sidebars</span></span></a>
                              </li>
                            </ul>
                          </li>
                          <li id="menu-item-12978" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12978 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">4</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-13013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13013 menu-item-depth-subitem"><a
                                  href="../index.html?p=434"><span class="nav_item_wrap"><span class="nav_title">Sliders</span></span></a>
                              </li>
                              <li id="menu-item-13022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13022 menu-item-depth-subitem"><a
                                  href="../index.html?p=548"><span class="nav_item_wrap"><span class="nav_title">Social
                                      Sharing</span></span></a> </li>
                              <li id="menu-item-13021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13021 menu-item-depth-subitem"><a
                                  href="../index.html?p=552"><span class="nav_item_wrap"><span class="nav_title">Special
                                      Headings</span></span></a> </li>
                              <li id="menu-item-13020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13020 menu-item-depth-subitem"><a
                                  href="../index.html?p=564"><span class="nav_item_wrap"><span class="nav_title">Tables</span></span></a>
                              </li>
                              <li id="menu-item-13019" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13019 menu-item-depth-subitem"><a
                                  href="../index.html?p=567"><span class="nav_item_wrap"><span class="nav_title">Tabs
                                      &#038; Tours</span></span></a> </li>
                              <li id="menu-item-13018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13018 menu-item-depth-subitem"><a
                                  href="../index.html?p=575"><span class="nav_item_wrap"><span class="nav_title">Toggles
                                      &#038; Accordions</span></span></a> </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li id="menu-item-12980" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12980 menu-item-mega menu-item-mega-cols-five menu-item-depth-0"><a><span
                          class="nav_item_wrap"><span class="nav_title">Post Types</span></span></a>
                      <div class="menu-item-mega-container">
                        <ul class="sub-menu">
                          <li id="menu-item-12981" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12981 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">Blog</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-13025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13025 menu-item-depth-subitem"><a
                                  href="../index.html?p=882"><span class="nav_item_wrap"><span class="nav_title">Standard
                                      Blog</span></span></a> </li>
                              <li id="menu-item-13024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13024 menu-item-depth-subitem"><a
                                  href="../masonry-blog/page/1/index.html"><span class="nav_item_wrap"><span class="nav_title">Masonry
                                      Blog</span></span></a> </li>
                              <li id="menu-item-13023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13023 menu-item-depth-subitem"><a
                                  href="../index.html?p=889"><span class="nav_item_wrap"><span class="nav_title">Timeline
                                      Blog</span></span></a> </li>
                            </ul>
                          </li>
                          <li id="menu-item-12982" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12982 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">Projects Grid</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-13027" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13027 menu-item-depth-subitem"><a
                                  href="../index.html?p=901"><span class="nav_item_wrap"><span class="nav_title">Large
                                      Gap</span></span></a> </li>
                              <li id="menu-item-13029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13029 menu-item-depth-subitem"><a
                                  href="../index.html?p=903"><span class="nav_item_wrap"><span class="nav_title">No Gap</span></span></a>
                              </li>
                              <li id="menu-item-13026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13026 menu-item-depth-subitem"><a
                                  href="../index.html?p=907"><span class="nav_item_wrap"><span class="nav_title">1
                                      Pixel Gap</span></span></a> </li>
                            </ul>
                          </li>
                          <li id="menu-item-12983" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12983 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">Masonry Puzzle</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-13030" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13030 menu-item-depth-subitem"><a
                                  href="../index.html?p=922"><span class="nav_item_wrap"><span class="nav_title">Large
                                      Gap</span></span></a> </li>
                              <li id="menu-item-13031" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13031 menu-item-depth-subitem"><a
                                  href="../index.html?p=919"><span class="nav_item_wrap"><span class="nav_title">No Gap</span></span></a>
                              </li>
                              <li id="menu-item-13034" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13034 menu-item-depth-subitem"><a
                                  href="../index.html?p=924"><span class="nav_item_wrap"><span class="nav_title">1
                                      Pixel Gap</span></span></a> </li>
                            </ul>
                          </li>
                          <li id="menu-item-12984" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12984 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">Profiles</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-13032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13032 menu-item-depth-subitem"><a
                                  href="../index.html?p=933"><span class="nav_item_wrap"><span class="nav_title">Horizontal</span></span></a>
                              </li>
                              <li id="menu-item-13033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13033 menu-item-depth-subitem"><a
                                  href="../index.html?p=929"><span class="nav_item_wrap"><span class="nav_title">Vertical</span></span></a>
                              </li>
                              <li id="menu-item-12985" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12985 menu-item-depth-subitem"><a
                                  href="../index.html?p=11027"><span class="nav_item_wrap"><span class="nav_title">Open
                                      Profile</span></span></a> </li>
                            </ul>
                          </li>
                          <li id="menu-item-12987" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12987 menu-item-depth-1"><a><span
                                class="nav_item_wrap"><span class="nav_title">Events</span></span></a>
                            <ul class="sub-menu">
                              <li id="menu-item-12988" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12988 menu-item-depth-subitem"><a
                                  href="../events/month/index.html"><span class="nav_item_wrap"><span class="nav_title">Month</span></span></a>
                              </li>
                              <li id="menu-item-12989" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12989 menu-item-depth-subitem"><a
                                  href="https://schule.cmsmasters.net/events/map/"><span class="nav_item_wrap"><span
                                      class="nav_title">Map</span></span></a> </li>
                              <li id="menu-item-12990" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12990 menu-item-depth-subitem"><a
                                  href="https://schule.cmsmasters.net/events/photo/"><span class="nav_item_wrap"><span
                                      class="nav_title">Photo</span></span></a> </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="cmsmasters_mov_bar"><span></span></li>
                  </ul>
                </div>
              </nav>
            </div><!-- Finish Navigation -->
          </div>
        </div>
      </div>
    </header>
    <!-- Finish Header -->


    <!-- Start Middle -->
    <div id="middle">
      <div class="headline cmsmasters_color_scheme_default">
        <div class="headline_outer">
          <div class="headline_color"></div>
          <div class="headline_inner align_center">
            <div class="headline_aligner"></div>
            <div class="headline_text_wrap">
              <div class="headline_text">
                <h1 class="entry-title">Our Courses</h1>
              </div>
              <div class="cmsmasters_breadcrumbs">
                <div class="cmsmasters_breadcrumbs_aligner"></div>
                <div class="cmsmasters_breadcrumbs_inner"><a href="../index.html" class="cms_home">Home</a>
                  <span class="breadcrumbs_sep"> / </span>
                  <span>Our Courses</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle_inner">
        <div class="content_wrap fullwidth">

          <!-- Start Content -->
          <div class="middle_content entry"></div>
        </div>
        <div id="cmsmasters_row_3tx4l2zuun" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
          <div class="cmsmasters_row_outer_parent">
            <div class="cmsmasters_row_outer">
              <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                  <div id="cmsmasters_column_5n16g5wlia" class="cmsmasters_column one_first">
                    <div class="cmsmasters_column_inner">
                      <div id="cmsmasters_learnpress_shortcode_8fe2g3byil" class="cmsmasters_learnpress_shortcode cmsmasters_4">
                        <article id="lpr_course_post-15528" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/6-580x410.jpg"
                                class="full-width wp-post-image" alt="Evening Courses" title="Evening Courses" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15528" title="Evening Courses"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">&#36;100.00</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15528">Evening Courses</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">10 week</div>
                          </footer>
                        </article>
                        <article id="lpr_course_post-15524" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/8-580x410.jpg"
                                class="full-width wp-post-image" alt="Training Courses" title="Training Courses" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15524" title="Training Courses"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">Free</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15524">Training Courses</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">10 week</div>
                          </footer>
                        </article>
                        <article id="lpr_course_post-15517" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/7-580x410.jpg"
                                class="full-width wp-post-image" alt="Business Training" title="Business Training" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15517" title="Business Training"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">Free</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15517">Business
                                  Training</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">10 week</div>
                          </footer>
                        </article>
                        <article id="lpr_course_post-15511" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/5-580x410.jpg"
                                class="full-width wp-post-image" alt="Piano Courses" title="Piano Courses" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15511" title="Piano Courses"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">&#36;150.00</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15511">Piano Courses</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">10 week</div>
                          </footer>
                        </article>
                        <article id="lpr_course_post-15502" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/2-1-1-580x410.jpg"
                                class="full-width wp-post-image" alt="Scientific courses for Adults" title="Scientific courses for Adults" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15502" title="Scientific courses for Adults"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">&#36;300.00</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15502">Scientific
                                  courses for Adults</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">21 week</div>
                          </footer>
                        </article>
                        <article id="lpr_course_post-15493" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/1-1-1-580x410.jpg"
                                class="full-width wp-post-image" alt="Networking for beginners" title="Networking for beginners" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15493" title="Networking for beginners"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">&#36;540.00</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15493">Networking for
                                  beginners</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">10 week</div>
                          </footer>
                        </article>
                        <article id="lpr_course_post-15479" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/4-1-580x410.jpg"
                                class="full-width wp-post-image" alt="Student&#8217;s language Courses" title="Student&#8217;s language Courses" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15479" title="Student&#8217;s language Courses"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">&#36;450.00</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15479">Student&#8217;s
                                  language Courses</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">10 week</div>
                          </footer>
                        </article>
                        <article id="lpr_course_post-15469" class="lpr_course_post">
                          <div class="cmsmasters_course_image_wrap">
                            <figure class="cmsmasters_img_rollover_wrap preloader"><img width="580" height="410" src="../wp-content/uploads/2017/11/3-2-580x410.jpg"
                                class="full-width wp-post-image" alt="Fundamentals of photography" title="Fundamentals of photography" />
                              <div class="cmsmasters_img_rollover"><a href="../index.html?p=15469" title="Fundamentals of photography"
                                  class="cmsmasters_open_post_link button">Read more</a></div>
                            </figure>
                            <div class="cmsmasters_course_price"><span class="price">Free</span></div>
                          </div>
                          <div class="lpr_course_inner">
                            <header class="entry-header lpr_course_header">
                              <h4 class="entry-title lpr_course_title"><a href="../index.html?p=15469">Fundamentals of
                                  photography</a></h4>
                            </header>
                            <div class="entry-meta cmsmasters_cource_cat"><a href="../course-category/courses/index.html"
                                rel="tag">Courses</a></div>
                          </div>
                          <footer class="cmsmasters_course_footer">
                            <div class="review-stars-rated">
                              <div class="review-stars empty"></div>
                              <div class="review-stars filled" style="width:100%;"></div>
                            </div>
                            <div class="cmsmasters_cource_duration">10 week</div>
                          </footer>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cl"></div>
        <div class="content_wrap fullwidth">

          <div class="middle_content entry"></div>
          <!-- Finish Content -->



        </div>
      </div>
    </div>
    <!-- Finish Middle -->
    <!-- Start Bottom -->
    <div id="bottom" class="cmsmasters_color_scheme_first">
      <div class="bottom_bg">
        <div class="bottom_outer">
          <div class="bottom_inner sidebar_layout_14141414">
            <aside id="custom-contact-info-5" class="widget widget_custom_contact_info_entries">
              <h3 class="widgettitle">Contacts</h3>
              <div class="adr adress_wrap cmsmasters_theme_icon_user_address"><span class="street-address contact_widget_address">Brooklyn,
                  NY 10036, 16-2 United States</span></div><span class="contact_widget_email cmsmasters_theme_icon_user_mail"><a
                  class="email" href="mailto:exam&#112;%6c&#101;%40e&#120;am&#112;%6c&#101;.&#99;%6fm">&#101;x&#97;m&#112;&#108;&#101;&#64;&#101;&#120;a&#109;p&#108;e&#46;&#99;om</a></span><span
                class="contact_widget_phone cmsmasters_theme_icon_user_phone"><span class="tel">Call Us: 1-800-123-1234</span></span>
            </aside>
            <aside id="text-2" class="widget widget_text">
              <h3 class="widgettitle">Socials</h3>
              <div class="textwidget">
                <ul>
                  <li><a href="../index.html?p=14404#">Slack</a></li>
                  <li><a href="../index.html?p=14404#">Franz</a></li>
                  <li><a href="../index.html?p=14404#">Vimeo</a></li>
                  <li><a href="../index.html?p=14404#">Google</a></li>
                  <li><a href="../index.html?p=14404#">Twitter</a></li>
                  <li><a href="../index.html?p=14404#">YouTube</a></li>
                  <li><a href="../index.html?p=14404#">Instagram</a></li>
                </ul>
              </div>
            </aside>
            <aside id="text-3" class="widget widget_text">
              <h3 class="widgettitle">About Us</h3>
              <div class="textwidget">
                <ul>
                  <li><a href="../index.html?p=9410">Our Mission</a></li>
                  <li><a href="../index.html?p=613">Graduate Admission</a></li>
                  <li><a href="../index.html?p=606">Our Vision</a></li>
                  <li><a href="../index.html?p=611">Our Values</a></li>
                  <li><a href="../index.html?p=529">About Us</a></li>
                  <li><a href="../index.html?p=13607">Academics</a></li>
                  <li><a href="../index.html?p=619">Degree Programs</a></li>
                </ul>
              </div>
            </aside>
            <aside id="text-4" class="widget widget_text">
              <h3 class="widgettitle">Teachers</h3>
              <div class="textwidget">
                <ul>
                  <li><a href="../index.html?p=14206">Olivia Thomas</a></li>
                  <li><a href="../index.html?p=11027">Alice Bohm</a></li>
                  <li><a href="../index.html?p=11025">Max Turner</a></li>
                  <li><a href="../index.html?p=11023">Olivia Smith</a></li>
                  <li><a href="../index.html?p=11021">John Stevens</a></li>
                  <li><a href="../index.html?p=9427">Martha Stevens</a></li>
                  <li><a href="../index.html?p=1619">Connor Walker</a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <!-- Finish Bottom -->
    <a href="javascript:void(0)" id="slide_top" class="cmsmasters_theme_icon_slide_top"><span></span></a>
  </div>
  <!-- Finish Main -->

  <!-- Start Footer -->
  <footer id="footer">
    <div class="footer cmsmasters_color_scheme_footer cmsmasters_footer_default">
      <div class="footer_inner">
        <div class="footer_logo_wrap"><a href="../index.html" title="Schule" class="footer_logo">
            <img src="https://schule.cmsmasters.net/wp-content/themes/schule/theme-framework/theme-style/img/logo_footer.png"
              alt="Schule" />
            <img class="footer_logo_retina" src="https://schule.cmsmasters.net/wp-content/themes/schule/theme-framework/theme-style/img/logo_footer_retina.png"
              alt="Schule" width="167" height="50" />
          </a>
        </div> <span class="footer_copyright copyright">
          This is a sample website - cmsmasters © 2018 / All Rights Reserved </span>
      </div>
    </div>
  </footer>
  <!-- Finish Footer -->

</div>
<span class="cmsmasters_responsive_width"></span>
<!-- Finish Page -->